body {
    font-family: Arial, sans-serif;
    margin: 2px;
    padding: 0;
    background-color:papayawhip;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.carousel-indicators {
    $carousel-transition-duration:       .2s;


}

header h1 {
    margin: 0;
}
header h2 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.d-block h-70{
    width: auto;
    height: 5px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product p {
    font-size: 1.2em;
    color: #333;
}

.product button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.card-group{
    gap: 15px;
}
.menu{
    text-align: center;
}